/* about.css */
.card {
    border-radius: 15px;
    margin-top: 30px;
     border: 1px solid #007bff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#profile-image {
   max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    margin: 10px auto;
    display: block;
     border: 2px solid #007bff;
}

body {
  background-color: #f8f9fa;
}
