/* about.css */
.card {
    border-radius: 15px;
    margin-top: 30px;
    border: 1px solid #3498db; /* สีเส้นขอบ card */
}

#profile-image {
   max-width: 150px;
    max-height: 150px;
   object-fit: cover;
    margin: 10px auto;
    display: block;
     border: 2px solid #3498db; /* สีเส้นขอบรูปภาพ */
}

body {
  background-color: #f0f4f8;
}
